@import '../../assets/styles/mixins.scss';

.reviews {
    @include df(column, space-between, center);
    height: max-content;

    .h2-header {
        @include text(36px, 800, 54px);

        @media screen and (max-width: 950px) {
            font-size: 32px;
            line-height: 48px;
        }

        @media screen and (max-width: 600px) {
            font-size: 20px;
            line-height: 30px;
            max-width: 70%;
        }
    }

    &-images {
        width: 100%;
        @include df(row, space-evenly, center);
        margin: 1em 0;

        img {
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }

        .prev-img, .next-img {
            width: 150px;
            height: 150px;
            border-radius: 15px;
            object-fit: cover;
            @media screen and (max-width: 600px) {
                display: none;
            }
        }

        .cur-img {
            width: 200px;
            height: 200px;
            border-radius: 15px;
            object-fit: contain;
        }
    }
}
